@import url('https://fonts.googleapis.com/css?family=Russo+One');

.App {
  text-align: center;
  align-items: center;
  margin: 0;
}


.App-header {
  margin: 0;
  /* background-color: #808080; */
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.boxOutline{
  border-radius: 10px;
  /* border-color: beige; */
  /* box-shadow: 0 10px 20px #FBE4E0; */
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 2vw;
  padding-right: 2vw;
  text-align: center;
  margin-top: 15vh;
  width: 400px;
  height: 68vh;
  background-image: linear-gradient(to bottom right, rgb(39, 119, 209), rgb(247, 247, 247));
  vertical-align: middle;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
}

.timeOutline{
  border-radius: 10px;
  /* border-color: beige; */
  /* box-shadow: 0 10px 20px #FBE4E0; */
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 2vw;
  padding-right: 2vw;
  text-align: center;
  margin-top: 15vh;
  width: 400px;
  height: 68vh;
  background-image: linear-gradient(to bottom right, rgb(39, 119, 209), rgb(247, 247, 247));
  vertical-align: middle;
  position: relative;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
  display: none;
}

.returnHomeOutline{
  border-radius: 10px;
  /* border-color: beige; */
  /* box-shadow: 0 10px 20px #FBE4E0; */
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 2vw;
  padding-right: 2vw;
  text-align: center;
  margin-top: 15vh;
  width: 400px;
  height: 68vh;
  background-image: linear-gradient(to bottom right, rgb(39, 119, 209), rgb(247, 247, 247));
  vertical-align: middle;
  position: relative;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
  display: none;
}

.hidden-class { 
  display: none;
}

.show-class { 
  display: flex;
  border-radius: 10px;
  /* border-color: beige; */
  /* box-shadow: 0 10px 20px #FBE4E0; */
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 2vw;
  padding-right: 2vw;
  text-align: center;
  margin-top: 15vh;
  width: 400px;
  height: 68vh;
  background-image: linear-gradient(to bottom right, rgb(39, 119, 209), rgb(247, 247, 247));
  vertical-align: middle;
  position: relative;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
 }

.page-Header{
  background-color: rgb(27, 26, 26);
  position: fixed;
  color: white;
  display: flex;
  display: block;
  font-family: 'Russo One', cursive;
  font-size: 25px;
  padding: 20px 20px;
  text-decoration: none;
  top:0;
  width: 100%;
  z-index: 1;
  /* border-top: 5px solid rgba(26, 158, 176, 0.5);
  border-bottom: 5px solid rgba(26, 158, 176, 0.5); */
}

.page-Footer{
  background-color: rgb(27, 26, 26);
  color: white;
  font-size: 25px;
  position: fixed;
  text-align: center;
  justify-content: center;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 20px;
}

input{
  margin: .5em;
  width: 100%;
  height: 40px;
  align-self: center;
  text-align: center;
  border-color: aliceblue;
  /* border-radius: 30px; */
  /* padding: 5px; */
  /* margin: 1px; */
  color: grey;
  background-color: white;
}

.background{
  background-color: white;
  background-size: cover;
  background-repeat: no-repeat;
  height: 98vh;
  background-image: url("images/IMG_4942.jpg");
}

@media only screen and (max-width: 600px) {
  .boxOutline{
    width: 300px;
  }
}


